<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Mi Lista del Crud Jonh</title>
</head>
<body>
<div class="container">
<table class="table table-striped">
			<thead class="bg-dark">
				<tr>
					<th>id</th>
					<th>pais1</th>
					<th>pais2</th>
						<th>fecha</th>							
					<th>Editar</th>
					<th>Eliminar</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each="evento: ${evento}">
					<td th:text="${evento.id}"></td>
					<td th:text="${evento.equipo1}"></td>
					<td th:text="${evento.equipo2}"></td>
					<td th:text="${evento.fecha}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/formevento/} + ${evento.id}" th:text="'editar'"></a></td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/eliminarevento/} + ${evento.id}" th:text="'eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>		
				
					
				</tr>
			</tbody>

		</table>
<button type="button" class="btn btn-warning"  onclick="window.location.href='/formevento'">Form Equipos</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>